* {
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: black;
  word-wrap: break-word;
}
main {
  width: 100%;
  margin: auto;
}

img {
  width: 100%;
  margin: auto;
  vertical-align: bottom;
}

.main_contents {
  width: 100%;
  margin: auto;
  background: #fdfefa;
}

.Buy {
  padding-top: 20px;
  padding-bottom: 56px;
  padding-left: calc(100% - 148px);
}

.book {
  width: 78.5%;
  margin: auto;
  padding-top: 80px;
}

.buyLink {
  width: 128px;
  height: 44px;
  background: #23242a;
  box-shadow: 0px 4px 8px rgba(46, 49, 56, 0.2);
  border-radius: 18px;
  display: flex;
}

.bookIcon {
  width: 24px;
  height: 18px;
  background-size: cover;
  background-position: center;
  background-image: url(book-img/ic_book.png);
  margin: 13px 7px 13px 15px;
}

.buyNow {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-top: 13px;
}

.a_1 {
  color: #ffffff;
}

.bold_text1 {
  width: calc(100% - 40px);
  margin: auto;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.04em;
  color: #17181c;
}

.book-info {
  width: calc(100% - 40px);
  margin: auto;
}

.small-text {
  margin: 14px 0 36px 0;
  height: 20px;
  width: 219px;
  display: flex;
  background-color: #fdfaf1;
}

.author {
  padding: 1px 8px 1px 6px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #454954;
}

.center-border {
  width: 8px;
  height: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-left: 1px solid #ffffff;
}

.publisher {
  padding: 1.63px 6px 0.37px 0px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #454954;
}

.brown-text {
  color: #94653b;
}

.text {
  width: calc(100% - 40px);
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #23242a;
  margin: auto;
}

.gapyear {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #23242a;
}

.small-text2 {
  width: calc(100% - 40px);
  margin: auto;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 24px;
  display: flex;
}

.editior {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17.07px;
  padding-right: 3px;
}

.name {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 17.53px;
}

.main_contents2 {
  width: 100%;
  margin: auto;
  background: #fdfaf1;
}

.pinking {
  width: 100%;
}

.drawing {
  width: calc(100% - 66px);
  padding: 33px 42px 40px 24px;
  background-color: #fdfaf1;
}

.text2 {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #5e4a38;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
}

.name2 {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #94653b;
  padding-top: 18px;
  padding-bottom: 62px;
  margin-right: 32px;
  text-align: right;
}

.name3 {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #94653b;
  padding-top: 18px;
  padding-bottom: 92px;
  margin-right: 32px;
  text-align: right;
}
